<div class="page-header">
  <h2>Log in</h2>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="field form-group">
  <%= f.label :email, :class => 'control-label col-lg-2' %><br />
  <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
</div>

<div class="field form-group">
  <%= f.label :password, :class => 'control-label col-lg-2' %><br />
  <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
</div>

<% if devise_mapping.rememberable? -%>
<div class="field form-group">
  <%= f.check_box :remember_me %>
  <%= f.label :remember_me, :class => 'control-label' %>
</div>
<% end -%>

<div class="actions">
  <%= f.submit "Log in", :class => 'btn btn-primary' %>
</div>
<% end %>

<%= render "users/shared/links" %>
