<%= form_for ([@skill.member, @skill]), :html => { :class => "form-horizontal skill" } do |f| %>

  <% if @skill.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@skill.errors.count, "error") %> prohibited this skill from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @skill.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <div class="form-group" hidden>
    <%= f.label :member_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :member_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:member_id) %>
  </div>
  <div class="form-group">
    <%= f.label :language, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :language, :class => 'form-control', :list => 'languages', :autocomplete => 'off' %>
      <datalist id="languages">
	<%  @languages.each do |l| %>
	<%= content_tag(:option, l.last, value: l.last) %>
	<% end %>
      </datalist>
    </div>
    <%=f.error_span(:language) %>
  </div>
  <div class="form-group">
    <%= f.label :level, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <% #TODO define them in a helper %>
      <%= f.select(:level,
	  [['nothing',-1],['A1',0],['A2',1],
	  ['B1',2],['B2',3],
	  ['C1',4],['C2',5],
	  ['native',6]], {},
	  { :class => 'form-control' }) %>
    </div>
    <%=f.error_span(:level) %>
  </div>
  <div class="form-group">
    <%= f.label :need_to_practise, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.select(:need_practise, [['No','false'],['Yes','true']], {},{:class => 'form-control'}) %>
    </div>
    <%=f.error_span(:need_practise) %>
  </div>
  
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                members_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
