<%- model_class = Skill -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %> <%= @skill.language %> for <%= @skill.member.name %></h1>
</div>
<%= render :partial => 'form' %>
