<%- model_class = Skill -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %> for <%= @skill.member.name %></h1>
</div>
<%= render :partial => 'form' %>
