<header class="navbar navbar-default">
  <div class="container">
    <nav>
      <%= link_to "LEN", root_path, id: "logo" %>
      <ul class="nav navbar-nav navbar-right">
	<% if user_signed_in? %>
	<li><%= link_to "Members", members_path %></li>
	<li><a href="#">Couples</a></li>
	<li><%= link_to "Log out", destroy_user_session_path, method: "delete"%></li>
	<% else %>
	<li><%= link_to "Log in", new_user_session_path%></li>
	<% end %>
      </ul>
    </nav>
  </div>
</header>
