<%= form_for @member, :html => { :class => "form-horizontal member" } do |f| %>

<% if @member.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @member.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="form-group">
  <%= f.label :name, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <%=f.error_span(:name) %>
</div>
<div class="form-group">
  <%= f.label :availability_description, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= f.text_field :availability_description, :class => 'form-control' %>
  </div>
  <%=f.error_span(:availability_description) %>
</div>
<div class="form-group" hidden>
  <%= f.label :availability, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <% if @member["availability"] != nil %>
    <% availability_array = @member["availability"] %>
    <% else %>
    <% availability_array = Array.new(24*7, 0)%>
    <% end %>
    <%= f.text_field :availability, :class => 'form-control', :value => availability_array  %>
  </div>
  <%=f.error_span(:availability) %>
</div>

<div class="form-group table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
	<!-- forloop days-->
	<th></th>
	<% Date::DAYNAMES.rotate.each do |day| %>
	<th><%= day.first(3) %></th>
	<% end %>
	<!-- end for -->
      </tr>
    </thead>
    <tbody>
      <% time = Time.new.beginning_of_day %>
      <% 1.upto(24) do |i| %>
      <!-- 00:00 - 12:00 hidden default unavailable -->
      <% if time < (Time.new.noon - 4.hours) || time > (Time.now.at_end_of_day - 2.hours) %>
	 <% visibility = "hidden" %>
      <% else %>
	 <% visibility = "" %>
      <% end %>
      <tr <%= visibility %>>
	<td><%= time.to_formatted_s(:time) %> - <%= (time+59.minutes).to_formatted_s(:time) %></td>
	<% #TODO οι αριθμοί εν μπακαλλίσιμοι, καλύτερα να οριστούν ή χρησιμοποιηθούν σταθερές %>
	<% 1.upto(7) do |j| %>
	<% check_box_value = ((j-1)*24)+(i-1)%>
	<% check_box_id = Date::DAYNAMES.rotate[j-1].first(3) + "_" +time.to_formatted_s(:time).split(":").join("_")  %>
	<% is_checked = false %>
	<% if @member["availability"] != nil && @member["availability"].split(" ")[check_box_value] == "1" %>
	<% is_checked = true %>
	<% end %>
        <td><%= check_box_tag( check_box_id, check_box_value, is_checked, :onclick => "paintIt(this);") %></td>
	<% end %>
	<!-- endfor -->
      </tr>
      <% time = time + 1.hour %>
      <% end %>
      <!-- endfor -->
    </tbody>
  </table>
  
</div>

<div class="form-group">
  <div class="col-lg-offset-2 col-lg-10">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    members_path, :class => 'btn btn-default' %>
  </div>
</div>

<% end %>
