<%- model_class = Member -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %> of Language Exchange - Nicosia</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:availability_description) %></th>
      <th><%= model_class.human_attribute_name(:skills) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.name, edit_member_path(member) %></td>
        <td><%= member.availability_description %></td>
	<% levels_array = ["A1", "A2", "B1", "B2", "C1", "C2", "native", "nothing"]%>
	<td><% Skill.where(member_id: member.id).each do |s| %><span <% if s.need_practise %>class="text-danger"<% end %>><%= link_to s.language, edit_member_skill_path(member, s) %>-<%= levels_array[s.level] %></span> <% end %></td>
        <td>
	  <%= link_to "Add Skill",
              new_member_skill_path(member), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_member_path(member), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      member_path(member),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_member_path,
            :class => 'btn btn-primary' %>
