<%- model_class = Member -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @member.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:availability_description) %>:</strong></dt>
  <dd><%= @member.availability_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:skills) %>:</strong></dt>
  <% @skills.each do |skill|%>
  <%= skill.language %>,   <%= skill.level %>,  <%= skill.need_practise %>
  <% end %>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              members_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_member_path(@member), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              member_path(@member),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
